@use '../layout' as *;

.presentation-image {
    img {
        width: 100vw;
        height: 260px;
        object-fit: cover;
        object-position: center;
    }
}

.carte {
    position: relative;
    top: -2.5rem;
    background-color: color(accent, light);
    border-radius: 2.5rem 2.5rem 0 0;
    @include area-padding;

    &::after {
        content: "";
        background-color: color(accent, light);
        width: 100vw;
        height: 2.5rem;
        position: absolute;
        bottom: -2.5rem;
        left: 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: -.5rem;
    }

    fieldset {
        margin-top: 1.5rem;
    }

    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.75rem;
    }

    .heart {
        margin-right: 1rem;

        &::after {
            @include heart;
        }

        &:hover::after {
            @include heart-hover;
        }
    }

    &__section-title {
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 1.25rem;
        position: relative;

        &::after {
            content: "";
            background-color: color(tertiary);
            width: 42px;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: -5px;
        }
    }

    &__menu {
        $menu: &;

        &-item {
            background-color: white;
            display: flex;
            border-radius: 1rem;
            margin-bottom: 1rem;
            max-height: 4.5rem;
            max-width: calc(100vw - 2rem);
            overflow: hidden;
            @include shadow;

            .checkbox {
                background-color: color(tertiary);
                transform: translateX(25%);
                transition: transform .75s ease-in-out .25s;

                &::after {
                    @include checkmark;
                    
                }
            }

            &:hover {
                .checkbox {
                    transform: translateX(0);

                    &::after {
                        animation: checkmark-rotate 1s;
                    }
                }

                & #{$menu}-text {
                    min-width: calc((100vw - 2rem) - 4rem);
                }
            }
        }

        &-text {
            padding: 1rem;
            min-width: calc(100vw - 2rem);
            transition: min-width .75s ease-in-out;
            
            label {
                @include ellipsis;
            }

            input {
                display: none;

                /*&:checked {
                    .checkbox::after {
                        @include checkmark;
                    }
                }*/
            }

            &--description {
                font-weight: 100;
                font-size: .8rem;
                margin-top: .2rem;
                display: flex;
                justify-content: space-between;
    
                &-content {
                    @include ellipsis;
                }
            }

            &--price {
                font-weight: 700;
            }
        }
    }    

    &__order-button {
        @include main-button;
        margin-top: 2.5rem;

        &-container {
            display: flex;
            justify-content: center;
        }
    }
}