@use '../layout' as *;


.header {
    text-align: center;

    &__website-name {
        padding: 1rem 0 0.5rem 0;
    }

    &__divider {
        height: 3px;
        background-image: linear-gradient(lighten(color(accent), 50), lighten(color(accent), 70));
    }

    &__map-area {
        background-color: lighten(color(accent), 70);
        padding: 1rem 0;
        color: color(accent);
        font-weight: bold;

        &--marker {
            margin-right: 1rem;
        }
    }

    &__company-presentation {
        padding: 2rem;
        background-color: color(accent, light);

        h1 {
            padding: 0 2rem 1rem 2rem;
        }

        p {
            padding-bottom: 1rem;
        }
    }

    &__explore-link-button {
        @include main-button;
    }
}