@use '../layout' as *;

.restaurant {
    background-color: color(accent, light);
    @include area-padding;

    h2 {
        padding-bottom: 1rem;
    }

    @media all and (min-width: 768px) {
        &-flex {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-right: -1.5rem;

            &-child {
                flex: 1 1 320px;
                margin-right: 1.5rem;
            }
        }
    }

    @media all and (min-width: 1024px) {
        flex-basis: 65vw;
        background-color: white;
    }
}