@use './variables' as *;
@use './functions' as *;

@mixin area-padding {
    padding: 2.5rem 1rem;

    @media all and (min-width: 768px) {
        padding: 2.5rem 2rem;
    }

    @media all and (min-width: 1024px) {
        padding: 2.5rem 3rem;
    }
}

@mixin shadow {
    box-shadow: 0 5px 5px 0 lighten(color(accent), 65);

    &:hover {
        box-shadow: 0 5px 5px 0 lighten(color(accent), 60);
    }
}

@mixin ellipsis {
    width: calc(100% - 2rem);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;    
}