@use '../components' as *;
@use 'self' as *;

.restaurant__tile {
    width: calc(100vw - 3rem);
    background-color: white;
    @include shadow;
    border-radius: 1rem;
    margin-bottom: 1.5rem;

    img {
        width: 100%;
        height: 174px;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem 1rem 0 0;
    }

    figcaption {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .heart {
            @include heart;
        }

        p {
            font-weight: 100;
            margin-top: .25rem;
        }
    }

    &--new{
        font-weight: 500;
        color: color(tertiary, dark);
        background-color: color(tertiary);
        padding: .5rem .75rem;
        margin: 0.5rem;
        border-radius: 0.25rem;
        position: absolute;
        right: 1.5rem;
    }
}