@keyframes heart-fill {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes checkmark-rotate {
    from {
        transform: rotate(1turn);;
    }
    to {
        transform: rotate(0);
    }
}