@mixin heart-fill {
    animation: heart-fill-anim .2s ease-in-out;
}

@keyframes heart-fill-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin menu-item-fade-in($i) {
    animation: menu-item-fade-in-anim .4s ease-in-out ($i*.2s)-.2s backwards;
}

@keyframes menu-item-fade-in-anim {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

@mixin checkmark-rotate {
    animation: checkmark-rotate-anim 1s;
}

@keyframes checkmark-rotate-anim {
    from {
        transform: rotate(-2turn);;
    }
    to {
        transform: rotate(0);
    }
}